@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=Playfair+Display:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #fffaf2;
  color: #241a14;

  font-family: "DM Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
.logo {
  font-family: "Playfair Display", serif;
}